#git {
    background-color: rgb(223, 111, 111);
    color: green;
    font-size: xx-large;
}
#courses img{
    height: 200px;
    /* width: 100%; */
    border: 2px solid lightblue;
}

#courses .card p{
    text-align: justify;
}

